/* style.css */
body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   height: 100%;
   padding:20px ;
   margin:0;
   display: flex;
   justify-content: center;
   align-items:center;
   background-color:rgb(178, 201, 176);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0 auto;
  border:2px solid black;
  border-radius:20px;
  width: 900px;
  height: 700px;
  background-color:white;
}

canvas {
  border: 1px solid #ccc;
  margin-top: 20px;
}

textarea {
  margin-top: 10px;
}
.title{
   font-size: 40px;
   color:rgb(6, 128, 0);
}
.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-image {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.upload-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #e567c3;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:20px;
}

.add-text {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.add-text_button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-text_button:hover {
  background-color: #2980b9;
}

.text-input-add {
  margin-top: 10px;
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Стили для кнопки сохранения мема */
.save-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #27ae60;
}